<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- suite name="Main Test Suite" parallel="tests" verbose="1"> --> 
<suite name="Main Test Suite" verbose="1">
<test name="ChromeTest">
<parameter name="browser" value="chrome"></parameter>
<classes>
<class name="com.tekstrom.testng.DemoTestNG"></class>
</classes>
</test>
<test name="FirefoxTest">
<parameter name="browser" value="firefox"></parameter>
<classes>
<class name="com.tekstrom.testng.DemoTestNG1"></class>
</classes>
</test>
</suite>
